<%= javascript_include_tag 'dashboard' %>
<div class="dashcontainer">
<div class="col-md-3 col-xs-3 paragraph"><%= render 'user_menu' %></div>
<div class="col-md-9 col-xs-9 painel_content">
    <%= render 'layouts/overview' %>
</div>
</div>