<%= javascript_include_tag 'dashboard' %>
<div class="dashcontainer">
<div class="col-md-2 col-xs-2 paragraph"><%= render 'user_menu' %></div>
<div class="col-md-10 col-xs-10 painel_content">
    <%= render 'layouts/overview' %>
</div>
</div>