<div class="row">
    <div class="col-md-4 col-xs-4 sell-table container">
        <%= render 'exchange/order_form' %>
    </div>
    <div class="open_orders_table">
        <%= render 'exchange/orders_table' %>
    </div>
</div>
<div class="row">
    <div class="user_orders">
        <%= render 'exchange/open_orders' %>
    </div>
    <div class="recent_orders">
        <%= render 'exchange/recent_orders' %>
    </div>
</div>

