$('.centered-flash').html('<% flash.each do |key, value| %><div class="alert alert-<%= key %>"><%= value %><i class="fa fa-window-close pointer" aria-hidden="true"></i></div><% end %>');
$( ".fa-window-close" ).click(function() {
  $('.centered-flash').html('');
});

$( ".saldos" ).html( "<%= escape_javascript( render( :partial => "layouts/saldos") ) %>" );
$( ".user_orders" ).html( "<%= escape_javascript( render( :partial => "exchange/open_orders") ) %>" );