@charset "UTF-8";
/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.user_details {
  height: 85vh;
  overflow-y: auto;
}

/* line 12, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.active_img {
  width: 90%;
  /* you can use % */
  height: auto;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.dashcontainer {
  margin-top: 90px;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.menu_background {
  border-radius: 15px 50px 30px 5px;
  padding: 20px;
}

/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.hover-link:hover {
  color: black !important;
}

/* line 27, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.table {
  margin-top: 20px;
}

/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.small_lines {
  padding: 1px !important;
  text-align: center;
  font-size: 90%;
}

/* line 36, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.margin-exchange {
  margin-top: 20px;
}

/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.text-center {
  text-align: center;
}

/* line 42, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.small-font, .small-size {
  padding: 6px;
}

/* line 45, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.paragraph {
  word-break: break-all;
}

/* line 48, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.price-box {
  height: 150px;
}

/* line 51, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.carousel-control {
  width: 40px;
}

/* line 55, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.well, .well-padding {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 65, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.ticker-price {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

/*
body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
*/
/* line 79, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.well-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

/* line 87, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
h6 {
  margin-bottom: 0px !important;
}

/* line 90, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
body, h4, .navbar-fixed-top, .navbar-fixed-bottom {
  padding-right: 0 !important;
  /* Solução para issue de uso de Modal
  * https://github.com/twbs/bootstrap/issues/9855
  */
}

/* line 96, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.buttonSmall {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

/* line 102, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.carousel-inner {
  height: 150px;
}

/* line 105, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.small-size {
  width: 30%;
}

/* line 109, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
body, h4 {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* line 114, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.recent_values {
  font-size: 1.1vw;
  font-weight: bold;
}

/* line 118, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.menu {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 124, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.heading-colored, h4 {
  margin-bottom: 5px !important;
}

/* line 127, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.font-small {
  font-size: 75%;
}

/* line 130, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
ul {
  padding-left: 0px !important;
}

/* line 133, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.painel_content {
  margin-top: 2vh;
}

/* line 140, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.gtco-nav {
  background-color: gray !important;
}

/* line 143, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.table_head {
  border-radius: 1px;
  border-color: black;
}

/* line 147, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.padding-right-left-wallet {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

/* line 151, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.table {
  overflow-x: auto;
}

/* line 154, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.padding-dep {
  padding-left: 50px;
}

/* line 158, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.non-pade-right {
  padding-right: 0px;
}

/* line 162, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.non-pade-left {
  padding-left: 0px;
}

/* line 166, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.btn-danger, .manage_bank_buttons {
  padding: 5px !important;
}

/* line 173, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.panel-body {
  padding-bottom: 0px !important;
}
