/* line 4, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
body, h4 {
  font-size: 1vw;
}

/* line 10, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.user_details {
  height: 85vh;
  overflow-y: auto;
}

/* line 14, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.active_img {
  width: 90%;
  /* you can use % */
  height: auto;
}

/* line 19, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.dashcontainer {
  margin-top: 90px;
}

/* line 22, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.menu_background {
  border-radius: 15px 50px 30px 5px;
  padding: 20px;
}

/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.hover-link:hover {
  color: black !important;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.table {
  margin-top: 20px;
}

/* line 32, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.small_lines {
  padding: 1px !important;
  text-align: center;
  font-size: 90%;
}

/* line 37, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.margin-exchange {
  margin-top: 20px;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.text-center {
  text-align: center;
}

/* line 43, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.small-font, .small-size {
  padding: 6px;
}

/* line 46, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.paragraph {
  word-break: break-all;
}

/* line 49, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.price-box {
  height: 150px;
}

/* line 52, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.carousel-control {
  width: 40px;
}

/* line 56, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.buttonSmall {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

/* line 62, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.carousel-inner {
  height: 150px;
}

/* line 65, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.small-size {
  width: 30%;
}

/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
body, h4 {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* line 74, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.recent_values {
  font-size: 1.1vw;
  font-weight: bold;
}

/* line 78, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.menu {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 84, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.heading-colored, h4 {
  margin-bottom: 5px !important;
}

/* line 87, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.font-small {
  font-size: 75%;
}

/* line 90, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
ul {
  padding-left: 0px !important;
}

/* line 93, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.painel_content {
  margin-top: 2vh;
}

/* line 100, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.gtco-nav {
  background-color: gray !important;
}

/* line 103, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.table_head {
  border-radius: 1px;
  border-color: black;
}

/* line 107, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.padding-right-left-wallet {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

/* line 111, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.table {
  overflow-x: auto;
}

/* line 114, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.padding-dep {
  padding-left: 50px;
}

/* line 118, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.non-pade-right {
  padding-right: 0px;
}

/* line 122, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.non-pade-left {
  padding-left: 0px;
}

/* line 126, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.btn-danger {
  padding: 5px !important;
}

/* line 130, /home/ubuntu/workspace/app/assets/stylesheets/dashboard.scss */
.panel-body {
  padding-bottom: 0px !important;
}
