$('.centered-flash').html('<% flash.each do |key, value| %><div class="alert alert-<%= key %>"><%= value %><i class="fa fa-window-close pointer" aria-hidden="true"></i></div><% end %>');
$("#payModal").modal('hide');
$(".modal-backdrop").removeClass("fade");
$(".modal-backdrop").removeClass("in");
$(".modal-backdrop").removeClass("modal-backdrop");
$.ajax({
    url: "payments_details",
    cache: false,
    type: "GET",
    success: function(response) {
    
    },
    error: function(xhr) {
        
    }
});

$( ".fa-window-close" ).click(function() {
  $('.centered-flash').html('');
});

$( ".saldos" ).html( "<%= escape_javascript( render( :partial => "layouts/saldos") ) %>" );
function clear_window(){
  $('.centered-flash').html('');
};

$(document).ready(function(){
setTimeout( 'clear_window()', 4000 )

});