<div class="register">
  

<div class="col-md-6 col-xs-6">
<%= render 'users/form' %>
</div>
<div class="col-md-6 col-xs-6" align="center">
    <h3>Preencha as informações corretamente!<br></h3>
    Altere as informações com cuidado.
    <p><h6>Confira nosso <a>FAQ</a>.</h6></p>
</div>
</div>