<%= stylesheet_link_tag params[:controller] %>

<div class="container register">
  
  <h1>Registro</h1>
<div class="col-md-6 col-xs-6">
<%= render 'form' %>
</div>
<div class="col-md-6 col-xs-6" align="center">
    <h3>Preencha as informações corretamente!<br></h3>
    Após o cadastro você será redirecionado para etapas maiores de validação.
    <p><h6>Ao se cadastrar você concorda com os <a data-toggle="modal" data-target="#termsModal" class="pointer hover-link"><i class="fa fa-file-text" aria-hidden="true"></i> Termos de uso / Resposabilidade</a>.</h6></p>
</div>
</div>