	
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	

	<section id="gtco-hero" class="gtco-cover"  data-section="home"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class=" " data-animate-effect="fadeIn">Cripto Câmbio Exchange</h1>
							<div class="container">
							  <h2>Câmbio de forma moderna.</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="gtco-about" data-section="exchange">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading">
					<h1>Diversos pares</h1>
					<p class="sub">Negocie criptomoedas de maneira simples e clara, trabalhamos com algumas das principais moedas do mercado.</p>
					<div class="row">
					  <%= render 'layouts/currencies' %>
					</div>
					<p class="subtle-text">Câmbio</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-pull-1">
					<div class="img-shadow">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Forex_-_14600958045.jpg/1024px-Forex_-_14600958045.jpg" class="img-responsive" >
					</div>
				</div>
				<div class="col-md-6">
					<h2 class="heading-colored">Praticidade &amp; simplicidade</h2>
					<p>Realize depósitos com criptomoedas e comece a negociar agora mesmo com os bens que mais crescem no mercado mundial!</p>
					<p><a href="/users/new" class="read-more">Cadastre-se <i class="icon-chevron-right"></i></a></p>
				</div>
			</div>
		</div>
	</section>

	<section id="gtco-practice-areas" data-section="practice-areas">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading">
					<h1>Negocie agora!</h1>
					<p class="sub">Para começar é muito fácil, crie uma conta em nosso sistema, valide seu cadastro e realize seu primeiro depósito!</p>
					<p class="subtle-text  " data-animate-effect="fadeIn">Exchange</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="gtco-practice-area-item">
						<div class="gtco-icon">
							<i class="fa fa-desktop fa-3x" aria-hidden="true"></i>
						</div>
						<div class="gtco-copy">
							<h3>Interface</h3>
							<p>Aproveite a possibilidade de negociar com uma interface agradável e intuitiva. </p>
						</div>
					</div>

					<div class="gtco-practice-area-item  ">
						
						<div class="gtco-icon">
							<i class="fa fa-btc fa-3x" aria-hidden="true"></i>
						</div>
						<div class="gtco-copy">
							<h3>Sem limites para depósitos e saques</h3>
							<p>Deposite e saque quantas vezes quiser e realize saques na quantidade que quiser!</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					
					<div class="gtco-practice-area-item  ">
						<div class="gtco-icon">
							<i class="fa fa-exchange fa-3x" aria-hidden="true"></i>
						</div>
						<div class="gtco-copy">
							<h3>Maior opção de pares</h3>
							<p>Aproveite a possibilidade de negociar em mais pares de moedas! </p>
						</div>
					</div>

					<div class="gtco-practice-area-item  ">
						<div class="gtco-icon">
							<i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>
						</div>
						<div class="gtco-copy">
							<h3>Taxas competitivas</h3>
							<p>Nossos serviços possibilitam nossos usuários a pagar as taxas mais amigáveis do mercado!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gtco-our-team" data-section="our-team">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading  " data-animate-effect="fadeIn">
					<h1>Nossa missão</h1>
					<p class="sub">Acreditamos que as criptomoedas tem um grande potencial disruptivo na maneira como tratamos nosso dinheiro. Trabalhamos para aumentar seu acesso pelo público disseminando seu legado!</p>
					<p class="subtle-text  " data-animate-effect="fadeIn">Missão</p>
				</div>
			</div>
			<div class="row team-item gtco-team-reverse">
				<div class="col-md-6 col-md-push-7  " data-animate-effect="fadeInRight">
					<div class="img-shadow">
						<img src="http://cripto-exchange.blog/wp-content/uploads/2015/08/Cryptocurrency-exchange.jpg" class="img-responsive" >
					</div>
				</div>
				<div class="col-md-6  col-md-pull-6  " data-animate-effect="fadeInRight">
					<h2>Links úteis</h2>
					<p><a class="btn btn-lg btn-success" href="/sign_in"> <i class="fa fa-user-o fa-2x pull-left"></i> Login</a></p>
					<p><a class="btn btn-lg btn-success" href="/exchange/order"> <i class="fa fa-book fa-2x pull-left"></i> Livro de ordens</a></p></p>
					<p><a class="btn btn-lg btn-success" href="/graphs"> <i class="fa fa-line-chart fa-2x pull-left"></i> Gráficos</a></p></p>
				</div>
			</div>
		</div>
	</section>

	<section id="gtco-contact" data-section="contact">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading  " data-animate-effect="fadeIn">
					<h1>Nos contate</h1>
					<p class="sub">Confira abaixo as formas de contato para sanar dúvidas e obter suporte.</p>
					<p class="subtle-text  " data-animate-effect="fadeIn">Contato</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-push-6  ">
					<form action="#">
						<div class="form-group">
							<label for="nome" class="sr-only">Nome</label>
							<input type="text" class="form-control" placeholder="Nome" id="nome">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="text" class="form-control" placeholder="Email" id="email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Mensagem</label>
							<textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Mensagem"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>
					</form>
				</div>
				<div class="col-md-4 col-md-pull-6  ">
					<div class="gtco-contact-info">
						<ul>
							<li class="address">50860-260 Rua ernerto nazareth 578, Areias, Recife, PE, Brasil</li>
<!--							<li class="phone"><a href="tel://1235235598">+ 1235 2355 98</a></li> -->
							<li class="email"><a href="mailto:admin@cptcambio.com">admin@cptcambio.com</a></li>
							<li class="url"><a href="#">http://www.cptcambio.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="gtco-footer" role="contentinfo">
		<div class="container">
			
			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2017 Cripto Câmbio Exchange. Todos os direitos reservados.</small> 
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>