// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    font-size: 1vw;
}
h4{
    @extend body;
}
.dashcontainer {
    margin-top: 90px;
}
.menu_background{
    border-radius: 15px 50px 30px 5px;
    padding: 20px;
}
.hover-link:hover {
    color: black !important;
}
.table{
    margin-top: 20px;
}
.small_lines { 
        padding: 1px !important;
        text-align: center;
        font-size: 90%;
    }
.margin-exchange{
    margin-top: 20px;
}
.text-center{
    text-align: center;
}
.small-font{
    padding: 6px;
    font-size: 80%;
}
.paragraph{
    word-break: break-all;
}
.price-box{
    height: 150px;
}
.carousel-control{
    width: 40px;
}

.buttonSmall {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.carousel-inner{
    height: 150px;
}
.small-size{
    @extend .small-font;
    width: 30%;
}
body{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.menu{
    //border-radius: 10px;
   // background: white;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.heading-colored{
    margin-bottom: 5px !important;
}
.font-small{
    font-size: 75%;
}
ul{
    padding-left: 0px !important;
}
.painel_content{
    margin-top: 2vh;
}

h4{
    @extend .heading-colored;
}
.gtco-nav{
     background-color: gray !important;
}
.table_head{
    border-radius: 1px;
    border-color: black;
}
.padding-right-left-wallet{
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.table{
    overflow-x:auto;
}
.padding-dep{
    padding-left: 50px;
}

.non-pade-right{
    padding-right: 0px;
}

.non-pade-left{
    padding-left: 0px;
}

.btn-danger{
    padding: 5px !important;
}

.panel-body{
    padding-bottom: 0px !important;
}