.register{
    margin-top: 10% !important;
    padding: 50px;
    border-radius: 25px;
}
body{
    background-image: url(https://static.noticiasaominuto.com/stockimages/1920/naom_59bb7bed18b82.jpg?1509122374) ; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}