<div col="row">
	<div class="col-md-12"><h4> Menu Administrativo </h4></div>
</div>
<div class="col-md-12">
    <div class="row">
        <a class="pointer" data-painel-menu="adminOverview"><i class="fa fa-user-circle" aria-hidden="true"></i> Painel</a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="usersPermissions"><i class="fa fa-users" aria-hidden="true"></i> Permissões de usuários </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="contability"><i class="fa fa-university" aria-hidden="true"></i> Contabilidade</a>
    </div>
</div>
