<h2>Painel administrativo</h2>
<div class="well well-lg small-size">Utilize esta sessão para realizar operações administrativas. </div>
<% if current_user.role != "admin" %>
Permissão negada.
<% else %>
Usuário: <%= "#{current_user.first_name} #{current_user.last_name}" %>
<div class="row">
    <div class="col-md-4">
        <fieldset>
            <legend>Confirmar depósito</legend>
            <div class="well">
                <%= form_tag 'register_users', :remote => true, class: 'admin_form' %>
                
                <%= submit_tag 'Registrar usuários', :class => 'form-control' %>
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Depósitos a confirmar (BRL)</legend>
            <div class="well"></div>
        </fieldset>
    </div>
</div>
<% end %>