<h2>API e integração</h2>
<div class="col-md-11  well">
        <div id="apiTable"class="row">
            <%= render 'api/apiTable' %>
        </div>
</div>
<div class="modal fade api-secret-key-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="well">
      <fieldset>
          <legend>Chaves de API</legend>
          <p class="apiChaves"></p>
      </fieldset>
    </div>
  </div>
</div>