<h2>Contabilidade</h2>
<div class="well well-lg small-size">Utilize esta sessão para realizar operações financeiras. </div>
<% if current_user.role != "admin" %>
Permissão negada.
<% else %>
Usuário: <%= "#{current_user.first_name} #{current_user.last_name}" %>
<% end %>