<div col="row">
	<div class="col-md-12"><h4> Configurações </h4></div>
</div>
<div class="col-md-12">
    <div class="row">
        <a class="pointer" data-painel-menu="editInfo"><i class="fa fa-pencil" aria-hidden="true"></i> Dados pessoais </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="editSecurity"><i class="fa fa-key" aria-hidden="true"></i> Segurança </a>
    </div>
</div>