<div class="col-md-3 col-xs-3"><img src="images/btc.png" class="currency-icon"></div>
<div class="col-md-3 col-xs-3"><img src="images/litecoin.png" class="currency-icon"></div>
<div class="col-md-3 col-xs-3"><img src="images/doge.png" class="currency-icon"></div>
<div class="col-md-3 col-xs-3"><img src="images/eth.png" class="currency-icon"></div>