<div class="row">
<div class="col-md-3 col-xs-3"><img src="images/btc.png" class="currency-icon"></div>
<div class="col-md-3 col-xs-3"><img src="images/litecoin.png" class="currency-icon"></div>
<div class="col-md-3 col-xs-3"><img src="images/doge.png" class="currency-icon"></div>
<div class="col-md-3 col-xs-3"><img src="images/eth.png" class="currency-icon"></div>
</div>
<br>
<div class="row">
<div class="col-md-4 col-xs-4"><img src="images/bch.png" class="currency-icon"></div>
<div class="col-md-4 col-xs-4"><img src="images/dash.png" class="currency-icon"></div>
<div class="col-md-4 col-xs-4"><img src="images/dgb.png" class="currency-icon"></div>
</div>