<h2>Carteiras</h2>
<div class="well well-lg small-size">Utilize esta sessão para manusear suas carteiras. </div>
<div class="row">
    <div class="col-md-4 well-lg"> <h3>Como Fundiona?</h3>
    <ul>
        <li>Selecione a moeda;</li>
        <li>Gere um endereço;</li>
        <li>Envie suas moedas;</li>
        <li>Confirme o recebimento por email.</li>
    </ul>
    <p class="warning well"> Por padrão nós não geramos endereços para os usuários.<br> Selecione uma moeda e clique em "gerar carteira".</p>
    <p>Em caso de dúvidas, contate o suporte.</p>
    </div>
    <div class="col-md-6 well well-lg">
        <%= render :partial => 'layouts/currency_navbar', :locals => { :classe => "histo_currency", route: nil,  :btc => @total["BTC"], :ltc => @total["LTC"], :eth => @total["ETH"], :doge => @total["DOGE"] } %>
        <div class="well">
            <%= form_tag nil, remote: true, class: "editForm" %>
            <%= hidden_field_tag :currency, @currency , class: 'hidden' %>
            <%= submit_tag "Gerar carteira", class: "submit btn btn-warning" %>
            </form>
            <div class="qrcode" align="center">
                <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
            </div>
            <div class="wallets">
                
            </div>
        </div>
    </div>
    
    <div class="col-md-2"></div>
</div>