<style>

.wallet_content {
    font-size:90%;
    word-break: break-all;
}
    .qr-table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  width: 200px;
  height: 200px;
}
.qr-td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 7px;
  height: 7px;
}
td.black { background-color: #000; }
td.white { background-color: #fff; }
</style>
<% if !@wallet.empty? %>
<% @wallet.each do |wallet|  %>
    <% qr = RQRCode::QRCode.new("bitcoin:#{wallet.address}") %>
    <div class="row">
    <table class="qr-table">
        <% qr.modules.each_index do |x| %>
          <tr class="qr-tr">
          <% qr.modules.each_index do |y| %>
           <% if qr.dark?(x,y) %>
            <td class="black"/>
           <% else %>
            <td class="white"/>
           <% end %>
          <% end %>
          </tr>
        <% end %>
    </table>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
        <p>Endereço:<br> <b class="wallet_content"><%= wallet.address %></b></p>
        <% if wallet.currency == "XMR" %>
        <p>Tag de destino:<br> <b class="wallet_content"><%= wallet.dest_tag %></b></p>
        <% end %>
        </div>
    </div>
<% end %>
<% else %>
    Você não possui carteiras nessa moeda!
<% end %>