<style>
    .qr-table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

    .td-table {
  border-left: solid 6px #000;
  padding: 0; 
  margin: 0; 
  width: 0px; 
  height: 6px; 
}

td.black { border-color: #000; }
td.white { border-color: #fff; }
.wallet_content {
    font-size:90%;
    word-break: break-all;
}


</style>
<% if !@wallet.empty? %>
<% @wallet.each do |wallet|  %>
    <% qr = RQRCode::QRCode.new("#{wallet.currency.downcase}:#{wallet.address}") %>
    <div class="row">
    <table class="qr-table">
        <% qr.modules.each_index do |x| %>
          <tr class="">
          <% qr.modules.each_index do |y| %>
           <% if qr.dark?(x,y) %>
            <td class="td-table black"/>
           <% else %>
            <td class="td-table white"/>
           <% end %>
          <% end %>
          </tr>
        <% end %>
    </table>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
        <p>Endereço:<br> <b class="wallet_content"><%= wallet.address %></b></p>
        <% if wallet.currency == "XMR" %>
        <p>Tag de destino:<br> <b class="wallet_content"><%= wallet.dest_tag %></b></p>
        <% end %>
        </div>
    </div>
<% end %>
<% else %>
    Você não possui carteiras nessa moeda!
<% end %>