<div col="row">
	<div class="col-md-12"><h4> Ajuda </h4></div>
</div>
<div class="col-md-12">
    <div class="row">
        <a class="pointer" data-painel-menu="faq"><i class="fa fa-info-circle" aria-hidden="true"></i> FAQ </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="contact"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contato </a>
    </div>
</div>