<h2>Suas Ordens</h2>
<div class="col-md-11  well">
        <ul class="nav nav-tabs">
            <li data-myorders="myOrders" class="active pointer open_orders">
                <a class="padding-right-left-wallet">Todos </a>
            </li>
            <% EXCHANGE_PARES.each do |par| %>
                <li data-myorders="myOrders/<%= (par.tr(" ","")).tr("/","_") %>" class="pointer open_orders">
                    <a class="padding-right-left-wallet"><%= par %></a>
                </li>
            <% end %>
        </ul>
        <div class="well row">
            <div class="table-responsive result_lines col-md-9 col-xs-6">
                  <%= render 'orders_table' %>
            </div>
            </form>
        </div>
    </div>
    
    <script>
    $('.cancel-order').click(function (){
        r = confirm("Deseja cancelar esta ordem?");
        if (r==true)
          {
          $.ajax({
            url: ("/exchange/order/cancel/" + $(this).data("order-id")),
            cache: false,
            type: "POST",
            success: function(response) {
                
            },
            error: function(xhr) {
                
            }
            })
          }
        
        
    })
    
</script>
<%= javascript_include_tag "myOrders" %>