<h2>Suas Ordens</h2>
<div class="col-md-11  well">
        <ul class="nav nav-tabs">
    <li data-currency-options="ALL" class="active pointer open_orders"><a class="padding-right-left-wallet">Todos </a></li>
        <li data-currency-options="BTC" class="pointer open_orders"><a class="padding-right-left-wallet">Bitcoin</a></li>
        <li data-currency-options="LTC" class="pointer open_orders"><a class="padding-right-left-wallet">Litecoin</a></li>
        <li data-currency-options="DOGE" class="pointer open_orders"><a class="padding-right-left-wallet">Dogecoin</a></li>
        <li data-currency-options="ETH" class="pointer open_orders"><a class="padding-right-left-wallet">Ethereum</a></li>
        <li data-currency-options="BCH" class="pointer open_orders"><a class="padding-right-left-wallet">BitcoinCash</a></li>
        <li data-currency-options="DASH" class="pointer open_orders"><a class="padding-right-left-wallet">Dash</a></li>
        <li data-currency-options="DGB" class="pointer open_orders"><a class="padding-right-left-wallet">Digibyte</a></li>
        <li data-currency-options="ZEC" class="pointer open_orders"><a class="padding-right-left-wallet">Zcash</a></li>
</ul>
        <div class="well row">
            <div class="table-responsive result_lines col-md-6 col-xs-6">
          

            <table width="90%" class="table table-striped">
                <tbody><tr>
                    <th>Status</th>
                    <th>Tipo</th>
                    <th>Volume (bruto)</th>
                    <th>Excluir ordem</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody></table>
            
                
            </div>
            <form action="/dashboard/layouts/depositHistory" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
            <div class="form-group col-md-6 col-xs-6">
                <h3>Como funciona?</h3>
                <div class="row">
                    <div class="col-md-6 col-xs-9 well padding-dep">
                        <ul class="list-group">
                            <li class="list-item">Selecione a moeda acima</li>
                            <li class="list-item">Clique no item para detalhes</li>
                        </ul>
                    </div>
                </div>
                
            </div>
            </form>
        </div>
    </div>