<div col="row">
	<div class="col-md-12"><h4> Operações </h4></div>
</div>
<div class="col-md-12">
    <div class="row">
        <a class="pointer" data-painel-menu="overview"><i class="fa fa-eye" aria-hidden="true"></i> Overview </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="depositHistory"><i class="fa fa-money" aria-hidden="true"></i> Extrato </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="business"><i class="fa fa-exchange" aria-hidden="true"></i> Negociações </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="myOrders"><i class="fa fa-address-book" aria-hidden="true"></i> Minhas ordens </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="deposit"><i class="fa fa-qrcode" aria-hidden="true"></i> Carteiras </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="bankDeposit"><i class="fa fa-money" aria-hidden="true"></i> Depósito bancário </a>
    </div>
    <div class="row">
        <a class="pointer" data-painel-menu="withdrawal"><i class="fa fa-chevron-right" aria-hidden="true"></i> Saques </a>
    </div>
</div>
