<div class="row">
    <div class="col-md-12">
        Saque mínimo: <b class="withdrawal_minimal"><%= @minimum %> <%= @currency %></b><br>
        Taxa de operação: <b><%= @tax %> <%= @currency %></b>
    </div>
</div>